@import '../../style/indexStyle.scss';

.CalendarContainer{
    position: absolute;
    left: 86%;
    top: 87px;
}


.icon-calendar{
    margin-left: 2px;
}
.dateWrapper{
    width: 319px;
    height: 286px;
    background: $white;
    position: absolute;
    right: 22px;
    top: 46px;
}

