$darkBlue : #3A506B;
$blue : #237EFF;
$blurBlue:  #576E8B;
$grey: #5B6F88;

$darkWhite : #F2F2F2;
$white:#FFFFFF;

$purple : #899BF7;
$lightBlue :#ADC6F3; 
$babyBlue : #ADD9F8; 

$red : #FF5F72; 
$green : #5BC0BE; 
$yellow  : #FFC01F; 

