@import './colors.scss';
//$font-stack: font-family 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body, p, input, button  {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
};

a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

 h1{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    font-size: 70px;
    letter-spacing: 2px;
    text-shadow: 0px 3.52113px 3.52113px rgba(0, 0, 0, 0.25);
 }

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
};

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

h4 {

    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 0px 3.52113px 3.52113px rgba(0, 0, 0, 0.25);

}
.brand {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: $darkBlue;
}