@import '../../style/indexStyle.scss';
.gmapContainer {
    height: 100vh !important;
    //margin-top:-60px;
    z-index: 1;
} 

.googleSmall { 
    max-height: 50% !important;
    max-width: 790px !important;
}

.gm-style-mtc{
    display: none;
}

.gm-fullscreen-control {
    display : none; 
}

.gm-style-cc{
    display : none; 
}

.gm-control-active {
    margin-top: -20px;
    margin-right: 30px;
}
.gmnoprint{ 
  
}

.gm-svpc {
    display : none;
}

.infoWindow{
    height: 120px;
    width: 130px;
    background: yellow; 
}
