@import '../../style/indexStyle.scss';
@import '../../style/icon/style.scss' ; 

.FileLink{
    width: 397px;
    height: 89px;
    margin-left: 16px; 
    margin-top: 10px;
    background: $white;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}  

.FileLinkImage {  
    margin-left: 10px; 
    margin-top: 10px;
    background-image:  url(../../asset/random-image.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 70px;
    border-radius: 3px;
}

.FileLinkInformation{
    width: 250px;
    padding: 10px;
    
    p{
        
        line-height: 22px;   

        &::first-letter {
            text-transform: uppercase;
        }
    }
    .FileLinkLocation{
        color: $blue;

    }
    .FileLinkCrowd {
        margin-top: 2px;
        .icon-level-yellow, .icon-level-red, .icon-level-green-2 {
            margin-right : 5px;
        }
        #green, #red, #yellow{
            border-radius: 25px;
            padding: 2px; 
        }
        #green, .green {
            background: $green;
        }
        #red, .red {
            background: $red;
        }
        #yellow, .yellow{
            background: $yellow;
        }
    }
}

.FileLinkPlus{
    margin-left: 15px;
    padding: 10px;
    .icon-favori{
        color: grey;
        font-size: 24px;  
        &:hover {
            color: $yellow;
        }     
    }

}