@import '../../style/indexStyle.scss';
@import '../../style/icon/style.scss' ; 

.FileLink{
    width: 397px;
    height: 89px;
    margin-left: 16px; 
    margin-top: 10px;
    background: $white; //blueviolet;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}  

.FileLinkImage {  
    margin-left: 10px; 
    margin-top: 10px;
    background-image:  url(../../asset/random-image.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 70px;
    border-radius: 3px;
}

.FileLinkInformation{
    width: 200px;
    padding: 10px;
    .FileLinkLocation{
        color: $blue;
        font-weight: 16px;
        text-transform: lowercase;
    }
    .FileLinkCrowd {
    .icon-level-yellow{
        margin-right : 12px;
    }
    #green, #red, #yellow{
        border-radius: 25px;
        padding: 2px; 
    }
    #green, .green {background: $green ;}
    #red, .red {background: $red ;}
    #yellow, .yellow{background: $yellow;}
    }
}

.FileLinkPlus{
    padding: 10px;
    .icon-favori{
        color: grey;
        font-size: 24px;
        margin-left: 65px;
       
    }
    .FileLinkScheduleX{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        word-break :none;
        .FileLinkSchedule{
            text-align: right;
            font-size: 13px;
        }  
    }
}